@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Roboto", serif;
}
body {
  background-color: #151937;
}

.text-gradient-1 {
  background: -webkit-linear-gradient(270.78deg, #ffa7a9 4.19%, #ff5ea3);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.bg-gradient-1 {
  background-image: linear-gradient(-90deg, #ff7df2, #ff275b);
}
.bg-item {
  background-color: #212541;
}
.slick-dots li button:before {
  font-size: 20px;
  color: white;
}
.feed_back .slick-dots li.slick-active button:before {
  color: #ff5ea3;
}
.footer-h3 {
  margin-bottom: 20px;
  color: white;
  font-size: 24px;
  font-weight: 700;
}

footer .footer-text nav li {
  margin: 0.5rem 0;
}
footer .footer-text nav a {
  font-size: 1.125rem;
  line-height: 1.75rem;
  color: #9ca3af;
}
footer .footer-text nav a:hover {
  color: white;
  text-decoration: underline;
}
